.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card1-70h{
  height: 90px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.cour{
  width: auto;
  cursor: pointer;
  .card{
    position: relative;

    img{
      width: 100%;
      height: auto;
      max-height: 118px;
      border-bottom: 1px solid #dedbdb;
    }

    .relative100{
      width: 100%;
      height: 100%;
      position: relative;

      .centerHV{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: fit-content;
        height: fit-content;
        margin: auto;
      }
    }

    .author{
      display: block;
      font-size: 12px;
      text-align: right;
      margin-right: 5px;
      position: absolute;
      top: 6px;
      right: 6px;
    }
    .card-title{
      padding: 0;
      margin: 5px;
    }

    .card-text{
      overflow: hidden;
      padding: 5px;
      text-align: center;
      font-size: 12px;
    }

    .coursBtn{
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      color: #fffbfb;
      background-color: #3097D1;
      border-color: #2a88bd;
      border: none;
      border-radius: 0;
    }
  }
}