.exam-meta-data {
  padding: 18px;
  background: whitesmoke;
  border-bottom: 1px solid #efeaea;

  .name, .type, .time {
    display: inline;
  }

  .name {
    font-size: 25px;
    color: #717071;
  }

  .type {
    margin-left: 20px;
    font-size: 15px;
    color: #d21d25;
  }

  .time {
    position: absolute;
    right: 0;
    margin-right: 50px;
    font-size: 18px;
    color: #25925b;
  }
}

.exam-full-info {
  border-left: 1px solid #e0dddd;
  border-bottom: 1px solid #e0dddd;
  border-right: 1px solid #e0dddd;
  margin-top: 0px;
  padding: 15px;

  .startExam {
    height: 60px;
    position: relative;

    .myBtnCenter {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      height: fit-content;
      margin: auto;
      width: 250px;
    }
  }
  .users-prev-scores {
    padding: 0;
    background: #f9f9f9;
    border: .1px solid #f2eef5;

    .header {
      width: 100%;
      background: #8c8888;
      color: white;
      font-size: 22px;
      padding: 5px 10px;
      position: relative;

      .header-right {
        position: absolute;
        top: 0;
        right: 15px;
        bottom: 0;
        height: fit-content;
        margin: auto;
      }
    }

    .user {
      padding: 5px 10px;

      .passable {
        color: #fbaf03;
      }

      .null {
        color: #fb1516;
      }

      .good {
        color: #12bd00;
      }
    }
  }

  .passage {
    padding: 15px;

    .reponse {
      padding: 15px 15px 1px;
      background: #e4e8ea;
      margin-bottom: 10px;
      border-radius: 10px;
    }

    .navigation {
      position: relative;
      height: 50px;
      margin-top: 40px;

      .right {
        display: inline;
        position: absolute;
        right: 22px;
      }

      .left {
        display: inline;
        position: absolute;
        left: 22px;
      }
    }

    .question {
      background: #e4e4e4;
      margin-bottom: 10px;
      padding-bottom: 5px;

      .question-meta {
        padding: 15px 10px;
        background: #b9b9b8;
        color: white;
        position: relative;

        .question_number {
          font-size: 18px;
        }

        .question-text {
          font-size: 18px;
          color: white;
        }

        .question-point {
          position: absolute;
          top: 0;
          right: 15px;
          bottom: 0;
          height: fit-content;
          margin: auto;
          font-size: 16px;
          color: #00fb4d;
        }
      }

      .reponse-selected{
        margin: 5px;
        padding: 8px;
        color: white;
      }

      .istrue{
        background: #52794d;
      }

      .isfalse{
        background: #b77373;
      }
    }
  }
}


.myTable{
  margin-top: 50px;
  height: 100%;
}