.questionAdd {
  padding: 15px;
  background: #e2e1de;
  margin-bottom: 15px;
  border: 1px solid #dedcdc;

  .question-form {
    padding: 10px;
    margin-top: 30px;
  }

  .header{
    position: relative;
    /* height: 0px; */
    /* visibility: hidden; */

    .hide{
      height: 0;
      visibility: hidden;
    }

    .left{
      top: 0;
      bottom: 0;
      left: 0;
      width: fit-content;
      position: absolute;
      margin: 0 auto;
    }

    .right{
      top: 0;
      bottom: 0;
      right: 0;
      width: fit-content;
      height: max-content;
      position: absolute;
      margin: 0 auto;
      cursor: pointer;
      
      .delete{
        color: #ee2432;
      }
    }
  }
}

.question-reponses{
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0 25px;
  }
}

.colapseQuestion {
  height: 50px;

  .question-form{
    height: 0;
    visibility: hidden;
  }

  .question-reponses{
    height: 0;
    visibility: hidden;
  }
}