.myContainer{
  display: flex;
  padding: 0;
  margin: 0;
  .menu{
    width: 350px;
    height: 100vh;
    border-right: 1.6px solid #cacabb;

    .logo{
      border-bottom: 1.6px solid #cacabb;
    }

    .items{
      padding-top: 15px;
      cursor: pointer;
      margin: 0 1px 0 1px;

      .item{
        padding: 15px 15px 15px 35px;
        background: #fbf5fb;

        &:hover{
          background: #c7c4c7;

          .item-icon{
            color: #e3e2e3;
          }

          .item-title{
            color: #e3e2e3;
          }
        }

        .item-icon{
          font-size: 24px;
          color: #797879;
        }

        .item-title{
          font-size: 22px;
          margin-left: 10px;
          color: #797879;
        }
      }
    }
  }

  .my-center{
    width:100%;
    
    .nav-bar{
      width: 100%;
      background-color: #8c8888;

      .navbar-custom .navbar-toggle {
        margin-top: 13px;
        margin-bottom: 13px;
      }

      .navbar-header{
        margin-left: 25px;

        .navbar-brand{
          color: #FFFFFF;
          margin-top: 8px;
        }
      }

      .toggle-left-sidebar {
        margin-top: 18px;
        margin-bottom: 17px;
        margin-left: -10px;
        margin-right: -10px;
        cursor: pointer;
        float: left;
        padding: 10px;

        .icon {
          height: 2px;
          width: 20px;
          background-color: #fff;
          display: block;
          margin-bottom: 3px;
        }
      }

      .navbar-right{
        margin-right: 35px;
        margin-top: 8px;

        a{
          color: #FFFFFF;
        }

        .open{
          > a{
            background-color: #8c8888;
          }

          .dropdown-menu > li > a {
            color: #848282;
          }
        }
      }
    }

    .container{
      width: 100%;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
