<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

    <div class="questionAdd" v-bind:class="{'colapseQuestion': isColapse }">

        <div class="header">
            <div v-if="isAdded" class="left" v-bind:class="{ 'hide' : !isColapse }">
                <span> {{ question_id }} </span> - <span> {{ questions.question }}</span>
            </div>

            <div class="right">
                <span class="delete" v-on:click="deleteQuestion">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </span>

                <span class="colpse" v-on:click="colapse">
                    <i class="fa" v-bind:class="{ 'fa-chevron-up' : !isColapse, 'fa-chevron-down' : isColapse }" aria-hidden="true"></i>
                </span>
            </div>
        </div>

        <form v-on:submit.prevent="addQuestion" class="question-form">
            <div class="row">

                <div class="form-group col-md-6">
                    <label for="question_name">Question Text : </label>
                    <textarea v-model="questions.question" class="form-control" id="question_name" rows="1" name="question_name"
                              placeholder="Question Text"></textarea>
                </div>

                <div class="form-group col-md-2">
                    <label for="question_point">Question Points : </label>
                    <input v-model="questions.point" class="form-control" type="number" id="question_point" name="question_name"
                           placeholder="Question Points">
                </div>

                <div class="form-group col-md-2">
                    <label for="exam_type">Type d'exam</label>
                    <select v-model="questions.type" class="form-control" id="exam_type" name="exam_type">
                        <option value="box">Multi Choix</option>
                        <option value="radio">Mono Choix</option>
                    </select>
                </div>

                <div class="form-group col-md-2"  v-if="!isAdded">
                    <label for="zhfuzjez"></label>
                    <button class="btn btn-default btn-primary" id="zhfuzjez">Ajouter</button>

                </div>

                <div class="form-group col-md-2" v-if="isAdded">
                    <label for="tctdytfsyh"></label>
                    <button class="btn btn-default btn-primary" id="tctdytfsyh">Update</button>
                </div>

            </div>

        </form>

        <div class="question-reponses">
            <ul >
                <li>
                    <reponse rep="null" :question_id="question_id"></reponse>
                </li>

                <li v-for="reponse in questions.reponses">
                    <reponse :rep="reponse" :question_id="question_id"></reponse>
                </li>
            </ul>


        </div>
    </div>

</template>

<script>
    export default {
        props: {
            question_id : Number,
            question : {
                validator: function (value) {
                    if(value != "null"){
                        return JSON.parse(value);
                    }
                    else{
                        return 'null';
                    }
                }
            }
        },
        data() {
            let testQ = {};
            let isAdded = false;
            let isColapse = false;

            if(this.question != 'null'){
                let dataJ = JSON.parse(this.question);
                //console.log(this.question);
                testQ.question = dataJ.question;
                testQ.point = dataJ.point;
                testQ.type = dataJ.type;
                testQ.addRep = dataJ.addRep;
                testQ.reponses = dataJ.get_reponses;

                isColapse = true;
                isAdded = true;
            }


            return {
                questions: testQ,
                isAdded : isAdded,
                isColapse : isColapse
            }
        },
        mounted() {

        },
        methods: {
            getQuestions(){
                let uri = urls.add_new_question;
            },
            addQuestion() {
                let uri = urls.add_new_question;
                this.axios.post(uri, this.questions).then((response) => {
                    if(response.data.error === false){
                        location.reload();
                    }
                })
            },
            deleteQuestion(){
                let uri = urls.baseURL + '/formateur/question/'+ this.question_id +'/delete';
                this.axios.post(uri).then((response) => {
                    if(response.data.error === false){
                        location.reload();
                    }
                })
            },
            colapse(){
                this.isColapse = !this.isColapse;
            }
        }

    }
</script>