<template xmlns:v-on="http://www.w3.org/1999/xhtml">

    <div class="reponseAdd reponses" v-if="question_id > -1">
        <form v-on:submit.prevent="addReponse" class="question-form">
            <div class="row reponse">

                <div class="form-group col-md-6">
                    <label for="reponseText">Reponse Text : </label>
                    <textarea v-model="reponse.reponse" class="form-control" id="reponseText" rows="1" name="reponseText"
                              placeholder="Reponse Text"></textarea>
                </div>

                <div class="form-group col-md-4">
                    <label for="reponseTrue">Reponse si vrais ? </label>
                    <input v-model="reponse.is_true" class="form-control" type="checkbox" id="reponseTrue" name="reponseTrue">
                </div>



                <div class="form-group col-md-2"  v-if="!isAdded">
                    <label for="zhfuzjez"></label>
                    <button class="btn btn-default btn-primary" id="zhfuzjez">Ajouter</button>
                </div>

                <div class="form-group col-md-2" v-if="isAdded">
                    <label for="tctdytfsyh"></label>
                    <button class="btn btn-default btn-primary" id="tctdytfsyh">Update</button>
                </div>

            </div>

        </form>
    </div>

</template>

<script>
    export default {
        props: {
            question_id : Number,
            rep : {
                validator: function (value) {
                    if(value != "null"){
                        return value;
                    }
                    else{
                        return 'null';
                    }
                }
            }
        },
        data() {
            let reppp = {};
            let isAdded = false;

            if(this.rep != 'null'){
                reppp.reponse = this.rep.reponse;
                reppp.is_true = this.rep.is_true;
                isAdded = true;
            }

            return {
                reponse: reppp,
                isAdded : isAdded,
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            addReponse(){
                let url = urls.baseURL + '/formateur/question/'+this.question_id+'/reponse/add';
                console.log(this.reponse);
                this.axios.post(url, this.reponse).then((response) => {
                    if(response.data.error === false){
                        location.reload();
                        this.isAdded = true;
                    }
                })
            }
        }

    }
</script>